//Font Family
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$x-large: 35px;
$large: 25px;
$medium: 18px;
$small: 12px;
$x-small: 10px;

// Color Scheme
$salmon: #ff5f40;
$sky: #00b7c2;
$gray: #848484;
$darkgreen: #012F29;
$white: #fff;

